@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* CSS RESET: */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BASE STYLING */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

li {
    list-style: none;
}

/* Country info */
.country-flag {
    height: 30px;
    display: inline;
    vertical-align: middle;
}

.country-info h2 {
    font-size: 32px;
    display: inline;
    margin-left: 10px;
    font-family: Ubuntu, sans-serif;
    font-weight: lighter;
    vertical-align: middle;

}

/* Region classes
Africa: blauw
Americas: groen
Asia: rood
Europe: geel
Oceania: paars
*/
.region-africa {
    color: blue;
}

.region-americas {
    color: green;
}

.region-asia {
    color: red;
}

.region-europe {
    color: gold;
}

.region-oceania {
    color: purple;
}

.region-antarctic {
    color: lightgrey;
}